html {
	min-width: 1920px;
	min-height: 1080px;
	max-width: 3840px;
	max-height: 2160px;
}

body {
	width: 98%;
	box-sizing: border-box;
	background-color: #D3D3D3;
}

header h1 {
	text-align: center;
}

main {
	padding: 0 1%;
	display: flex;
	flex-direction: row;
	width: 98%;
	justify-content: space-between;
}

#all, #abyss, #brit, #rus-blue, #siam {
	position: fixed;
	top: 0;
	left: 0;
}

#all:target figure {
	opacity: 1;
}

#abyss:target ~ figure, 
#brit:target ~ figure,
#rus-blue:target ~ figure,
#siam:target ~ figure {
	opacity: 0.5;
}

nav a {
	text-decoration: none;
	color: #000000;
}

nav input[type="radio"] {
	display: none;
}

input[type="radio"]:checked + p.breed {
	background-color: #BEBEBE;
}

input[type="radio"]:checked + p.breed a {
	color: #FFFFFF;
}

#abyss:target ~ figure.abyss,
#brit:target ~ figure.brit,
#rus-blue:target ~ figure.rus-blue,
#siam:target ~ figure.siam {
	opacity: 1;
}

nav {
	width: 12%;
	max-width: 20%;
	margin: 0;
	background: #DCDCDC;
	overflow: hidden;
	font-size: 1.2em;
}

nav p {
	box-sizing: content-box;
	padding: 10% 5%;
	margin: 0;
	border-bottom: 1px solid #BEBEBE;
	text-overflow: clip;
}

section.content {
	width: 60%;
	display: flex;
	flex-wrap: wrap;
	align-items: bottom;
	justify-content: flex-start;
	flex-grow: 0.8;
}

.content figure figcaption {
	position: absolute;
	left: 0;
	bottom: 10%;
	display: none;
	color: white;
	font-size: 1.2em;
	background-color: #BEBEBE;
	opacity: 0.9;
	padding: 15px;
}

.content figure:hover figcaption {
	display: inline;
	z-index: 1;
}

.content figure {
	margin: 0;
	box-sizing: border-box;
	align-self: flex-end;
	position: relative;
}

.content figure img {
	width: 100%;
	opacity: inherit;
}

.content figure:nth-of-type(8n+1) {
	width: 33%;
	padding-right: 5px;
}

.content figure:nth-of-type(8n+2) {
	width: 66%;
	padding: 0;
}

.content figure:nth-of-type(8n+3) {
	width: 33%;
	padding-right: 5px;
}

.content figure:nth-of-type(8n+4) {
	width: 33%;
	padding-right: 5px;
}

.content figure:nth-of-type(8n+5) {
	width: 33%;
	padding: 0px;
}

.content figure:nth-of-type(8n+6) {
	width: 66%;
	padding-right: 10px;
}

.content figure:nth-of-type(8n+7) {
	width: 33%;
	padding: 0;
}

.content figure:nth-of-type(8n) {
	width: 99%;
	padding: 0;
}

section.rating {
	width: 12%;
	max-width: 20%;
	background-color: #DCDCDC;
	align-self: flex-start;
	padding: 1%;
	position: relative;
}

div.pseudo-margin {
	display: inline-block;
	width: 45%;
}

section.rating section.ratings {	
	display: flex;
	flex-direction: column;
}

section.ratings figure {
	display: flex;
	justify-content: space-between;
	margin: auto 0;
}

section.rating h2 {
	font-size: 1.2em;
	font-family: sans-serif;
	text-transform: uppercase;
	margin-bottom: 0;
	color: #FF0000;
	font-weight: normal;
}

div#rating-abyss {
	width: 63%;
}

div#rating-brit {
	width: 56%;
}

div#rating-rus-blue {
	width: 70%;
}

div#rating-siam {
	width: 28%;
}

div.rating-green, div.rating-yellow, div.rating-red {
	height: 15px;
	display: inline-block;
}

div.rating-green {
	background: linear-gradient(to right, #00CC00, white);
}

div.rating-yellow {
	background: linear-gradient(to right, #FFFF00, white);
}

div.rating-red {
	background: linear-gradient(to right, #FF0000, white);
}

section.rating figure figcaption {
	display: inline-block;
	text-align: right; 
	font-weight: bold;
	margin: 0;
}

input[type="checkbox"]:checked ~ .ratings > article.rating-rus-blue-wrap {
	order: 0;
}

input[type="checkbox"]:checked ~ .ratings > article.rating-abyss-wrap {
	order: 1;
}

input[type="checkbox"]:checked ~ .ratings > article.rating-brit-wrap {
	order: 2;
}

input[type="checkbox"]:checked ~ .ratings > article.rating-siam-wrap {
	order: 3;
}

body footer {
	position: relative;
	bottom: 0;
	width: 100%;
	padding: 10px 0;
}

footer section.footer {
	width: 90%;
	margin-left: 5%;
	display: flex;
	justify-content: space-between;
}

footer .address {
	color: #0000FF;
}