body {
	margin: 0;
	padding: 0;
}

h1 {
	text-align: center;
}

input[type="radio"] {
	display: none;
	margin: 0;
}

input[type="radio"] + label {
	font-family: Arial, sans-serif;
	font-size: 0.8em;
	border: 1px solid black;
	padding: 4px;
}

input[type="radio"] + label span {
	display: inline-block;
	vertical-align: middle;
	cursor: pointer;
}

input[type="radio"]:not(:checked) + label {
	color: lightgrey;
	border-color: lightgrey;
}

.switch {
	user-select: none;
}

footer {
	text-align: center;
	font-style: italic;
}

section#all-content {
	margin: 0px auto;
}

#table:checked ~ div.item {
	vertical-align: top;
	width: 300px;
	height: auto;
	padding: 1%;
	display: inline-block;
	overflow-x: hidden;
	overflow-y: hidden;
	text-overflow: ellipsis;
	margin: 1%;
}

#list:checked ~ div.item {
	width: auto;
    height: auto;
 	display: block;
	overflow-x: hidden;
	overflow-y: hidden;
	text-overflow: ellipsis; 
	margin: 1% 0;
}

div.item div.item-description {
	overflow-y: auto;
    height: auto;
}

img.item-image:hover {
	opacity: 0.7;
}

.item-name a:hover {
	color: red !important;
}

#table:checked ~ div.item div.item-image {
	width: 300px;
	height: 450px;
	display: block;
	position: relative;
	margin: 0 auto;
}

#table:checked ~ div.item img.item-image {
	width: 300px;
	position: absolute;
	bottom: 0;
}

#list:checked ~ div.item div.item-image,
#list:checked ~ div.item img.item-image {
	width: 300px;
	display: inline-block;
}

#list:checked ~div.item div.item-info {
	display: inline-block;
	width: 270px;
	padding: 0 0 0 2vw;
	vertical-align: top;
}

div.item div.item-info p.item-name {
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	font-size: 2.8rem;
	margin: 0;
}

div.item .item-category {
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	margin: 0;	
}

div.item .item-category a {
	color: grey;
	font-size: 0.8em;
}

p.item-price {
	margin: 0.5vw 0;
	padding: 0;
}

span.item-price-new {
	color: red;
	font-weight: bold;
	font-size: 1.8rem;
}

.item-price-old {
	text-decoration: line-through;
	font-weight: bold;
	font-size: 1.5rem;
	margin: 0 1vw;
	padding: 0;
}

h2.description-header {
	font-size: 1.1em;
	margin: 0;
}

.item-description {
	font-size: 1em;
	margin-top: 0;
	margin-bottom: 0;
	padding-top: 0;
}

#list:checked ~ div.item div.item-description {
	margin: 0 0 0 50px;
	max-width: 800px;
	display: inline-block;
	vertical-align: top;
	overflow-y: auto;
}

.review_stars_wrap{
	overflow: hidden;
}

.review_stars {
	overflow: hidden;
	position: relative;
	float: left;
}

.review_stars input {
	opacity: 0;
	position: absolute;
	top: 0;
	z-index: 0;
}

.review_stars input ~ label i {
	color: #ccc;
}

.review_stars input:checked ~ label i {
	color: #ec9801;
}

.review_stars label {
	float: right;
	cursor: pointer;
	position: relative;
	z-index: 1;
	border: none !important;
}

.review_stars label:hover i,
.review_stars label:hover ~ label i {
	color: #ec9801;
}