body {
	margin: 0;
	padding: 18px;
}

main {
	width: 984px;
	background: rgba(246, 245, 243, 1);
	padding: 0;
	margin: 0 auto;
}

/* Логотип */

.logo {
	width: 100%;
	display: flex;
	justify-content: flex-end;
}

.logo-image {
	margin: 0 74px 0 0;
}

/* Блок со стрелками */

.carousel {
	display: flex;
	justify-content: center;
	align-items: center;
}

.carousel-text {
	margin: 30px 0;
	text-indent: -1ch;
	font: 36px Arial, sans-serif;
}

.back-button-image,
.forw-button-image {
	background-color: rgba(255, 219, 74, 1);
	padding: 10px 15px;
	margin: 25px 65px 0;
	border: 1px solid rgba(255, 219, 74, 1);
	border-radius: 50%;
	box-shadow: 1px 1px 0 rgba(252, 140, 73, 1);
	cursor: pointer;
}

.back-button-image:hover,
.forw-button-image:hover {
	opacity: 0.8;
}

/* Блок с видео */

.video-wrapper {
	width: 641px;
	height: 361px;
	margin: 40px auto 60px;
	background: url(./img/Video_snapshot.png) no-repeat;
	position: relative;
}

.video-header {
    width: 100%;
    height: 49px;
    margin: 0;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    font: 29px Arial, sans-serif;
    text-align: center;
    color: rgba(255, 255, 255, 1);
    background: rgba(41, 54, 60, 0.7);
}

.video-play-button-wrapper {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.video-play-button {
	background-color: rgba(255, 219, 74, 1);
	border: 1px solid transparent;
	border-radius: 50%;
	box-shadow: 1px 1px 0 rgba(252, 140, 73, 1);
	padding: 32px 36px 32px 46px;
}

.video-play-button:hover {
	opacity: 0.8;
	cursor: pointer;
}

/* Блок со способами */

.columns {
	display: flex;
	justify-content: space-between;
}

.choices-header-h1 { 
	text-align: center; 
	margin: 0 0 40px;
	font: 47px Arial, sans-serif;
}

.choices-header-h2 { 
	margin: 0; 
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
	font: 30px Arial, sans-serif;
}

.choices-col-1,
.choices-col-2,
.choices-col-3,
.choices-col-4 {
	width: 246px;
	box-sizing: border-box;
	padding: 87px 0 0 42px;
	position: relative;
}

.choices-image {
	position: absolute;
	top: 0;
	left: 42px;
}

.choices-text {
	font: 16px Arial, sans-serif;
}

/* Блок с кнопкой */

.conclusion {
	text-align: center;
	margin: 42px 0 42px 40px;
	font: 42px Arial, sans-serif;
}

.try-button-wrapper {
	width: 100%;
	padding: 35px 0 85px;
    text-align: center;
}

.try-button {
	width: 320px;
	margin: 0 auto;
	font: 36px Arial, sans-serif;
	background: linear-gradient(rgba(255, 228, 74, 1), rgba(255, 219, 0, 1));
	padding: 16px 0;
	border-radius: 12px;
	cursor: pointer;
}

.try-button:hover {
    background: linear-gradient(rgba(255, 219, 0, 1), rgba(255, 228, 35, 1));
}