h1 {
	text-align: center;
	font-size: 3em;
}

section {
	display: none;
}

label(:not(:checked)) + section {
	display: none;	
}

label(:checked) + section {
	display: block;
}

input:checked + section {
	display: block;
}

main {
	box-sizing: content-box;
	height: 25%;
	width: 75%;
	position: absolute;
	top: 25%;
	left: 10%;
}

article.item {
	box-sizing: border-box;
	width: 25%;
	height: 100%;
	float: left;
	margin: 0;
}

input {
	position: fixed;
	z-index: -1;
	top: 80%;
	left: 45%;
}

input#first-page-switch {
	transform: translateX(0px);
}

input#second-page-switch {
	transform: translateX(20px);
} 

input#third-page-switch {
	transform: translateX(40px);
}

input#fourth-page-switch {
	transform: translateX(60px);
}

input#fifth-page-switch {
	transform: translateX(80px);
} 

.image-zoom {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: rgba(0, 0, 0, 0.8);
	z-index: 1;
	display: none;
	pointer-events: none;
}

.image-zoom:target {
	display: block;
	pointer-events: auto;
}

.page:target {
	display: all;
}

.image-zoom > div {
	width: 50%;
	position: relative;
	margin: 0 auto;
	vertical-align: middle;
}

.image-zoom > div img {
	margin: 15px 0;
}

.button-close {
	background: #606060;
	color: #fff;
	line-height: 25px;
	position: fixed;
	right: 50px;
	text-align: center;
	top: 50px;
	width: 24px;
	text-decoration: none;
	font-weight: bold;
	-webkit-border-radius: 12px;
	-moz-border-radius: 12px;
	border-radius: 12px;
	-moz-box-shadow: 1px 1px 3px #000;
	-webkit-box-shadow: 1px 1px 3px #000;
	box-shadow: 1px 1px 3px #000;
}

.close:hover {
	background: darkgrey;
}

figure {
	box-sizing: content-box;
	width: 90%;
	height: 90%;
	margin: 0 auto;
}

figure figcaption.item-description {
	display: none;
	font-size: 0.9em;
}

img.item-image {
	width: 100%;
	margin: 0 0 5%;
}

figure:hover {
	padding: 1% 1%;
	width: 100%;
	background-color: white;
	box-shadow: inset 0px 0px 5px 2px rgba(0, 0, 0, 0.2);
	opacity: 0.95;
}

figure:hover figcaption {
	display: inline;
}