div.class1 {
	width: 100px;
	height: 100px;
	background-color: red;
}

div.class2 {
	width: 100px;
	height: 100px;
	background-color: green;
	opacity: .9999;
}

div.class3 {
	width: 100px;
	height: 100px;
	background-color: yellow;
	z-index: 0;
}

div.class4 {
	width: 100px;
	height: 100px;
	background-color: blue;
	overflow: hidden;
}

div.class5 {
	width: 100px;
	height: 100px;
	background-color: black;
	transform: translateZ(0);
}

div.class6 {
	width: 100px;
	height: 100px;
	background-color: orange;
	filter: blur(1px);
}

div.class7 {
	width: 100px;
	height: 100px;
	background-color: grey;
}